<%- include partials/header.ejs %>

<body>
    <div id="readArea" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 10vh; margin-top: 50px;"> <!--Connecting to MetaMask -->
        <button class="btn btn-primary btn-lg" onclick="connectMetamask()" style="margin-bottom: 20px; background-color: #00e5ff; color: black;">CONNECT TO METAMASK</button>
        <p id="userArea">Status: Connected to Metamask</p>
    </div>
</body>
</html>

<script>
        
    let account;
    const connectMetamask = async () => {
        if(window.ethereum !== "underfined"){
            const accounts = await ethereum.request({method: "eth_requestAccounts"});
            account = accounts[0];
            document.getElementById("userArea").innerHTML = `User Account: ${account}`;
        }
    }
</script>
